.container {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

h1, 
h2, 
h3,
p,
a {
  font-family: "Inter", sans-serif;
} 






